<launch>

  <!-- Load the URDF robot description file in the robot_description parameter -->
  <param name="robot_description" textfile="$(find ros_2d_multi_robot_simulator)/urdf/simple_circle_robot.urdf"/>
  
  <!-- Start the robot state publisher -->
  <node name="map_publisher" pkg="ros_2d_multi_robot_simulator" type="map_publisher" output="screen"/>
  
  <!-- Start the Rviz package -->
  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
